@font-face {
    font-family: neu;
    src: url(NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(NeueHaasDisplayRoman.ttf);
}



body {
    /* font-family: neu; */
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f9; */
}

.chat-container {
    font-style: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #EFEAE3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
}

.messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
     box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.message.user {
    justify-content: flex-end;
    text-align: right;
}

.message.bot {
    justify-content: flex-start;
    text-align: left;
}

.message img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.message.user img {
    margin-left: 10px;
    margin-right: 0;
}

#bb {
    all: unset;
    display: inline-block;
    cursor: pointer;
    padding: 0;
    margin: 5px;
    border: none;
    background-color: #9090e97d;
    border-radius: 9px;
}


nav {
    font-family: neu;

    padding: 2vw 2vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 13px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a {
    color: #fff;
}

nav h3 {
    display: none;
}
